<h1 class='text-center my-3'>Editing Bookmark</h1>

<%= render 'form', bookmark: @bookmark %>

<%= link_to 'Show', @bookmark, class: 'btn btn-primary mt-3' %> |
<%= link_to 'Back', bookmarks_path, class: 'btn btn-primary mt-3' %>
